{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2>リンク集</h2>
  <li><a href="https://github.com/hasipon/icfpc2021">GitHub</a></li>
  <li><a href="https://icfpcontest2021.github.io/"></a>コンテストサイト</li>
  <li><a href="https://poses.live/problems"></a>コンテストポータル</li>
  <li><a href="/visualizer">Visualizer</a></li>
  <li>http://13.114.46.162:8800/eval</li>

  <h2>問題一覧</h2>
  <table class="table table-condensed table-striped">
  <tr>
    <th class="text-center">File</th>
    <th class="text-center">OurDislike</th>
    <th class="text-center">MinDislike</th>
    <th class="text-center">Difflike</th>
  </tr>

  {% for p in problems %}
  <tr>
    <td class="text-center"><a href="/problems/{{p.name}}">{{p.name}}</a></td>
    <td class="text-center">{{p.dislike}}</td>
    <td class="text-center">{{p.mindislike}}</td>
    <td class="text-center">{{p.difflike}}</td>
  </tr>
  {% endfor %}
</div>

{% endblock %}

